{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/saas/subscriptions/?api-version=2018-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b4109b21-9fea-43a6-8f10-6ef650f7c4dc\u0022",
        "x-ms-activityid": "3d348a91-656a-4440-988b-71182c17efde",
        "x-ms-correlationid": "3f26c96d-3a6b-4b14-b905-4e84de5d2e32",
        "x-ms-requestid": "3f26c96d-3a6b-4b14-b905-4e84de5d2e32"
      },
      "ResponseBody": {
        "subscriptions": [
          {
            "id": "4aea5574-281c-7b2f-de26-e0f8369bc2d2",
            "publisherId": "testtestindustryexperiencestest",
            "offerId": "ercsaastest1-preview",
            "name": "Ercenk test 2",
            "saasSubscriptionStatus": "Unsubscribed",
            "beneficiary": {
              "emailId": "ercenk@microsoft.com",
              "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "puid": "10033FFFA7593A0D"
            },
            "purchaser": {
              "emailId": "ercenk@microsoft.com",
              "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "puid": "10033FFFA7593A0D"
            },
            "planId": "basic",
            "term": {
              "startDate": "2019-09-24T00:00:00Z",
              "endDate": "2019-10-23T00:00:00Z",
              "termUnit": "P1M"
            },
            "autoRenew": true,
            "isTest": false,
            "isFreeTrial": false,
            "allowedCustomerOperations": [
              "Delete",
              "Update",
              "Read"
            ],
            "sandboxType": "None",
            "created": "2019-09-24T17:39:13.5661812Z",
            "lastModified": "0001-01-01T00:00:00",
            "sessionMode": "None"
          },
          {
            "id": "17adb6d2-4289-581c-2cb7-db784599a7bd",
            "publisherId": "testtestindustryexperiencestest",
            "offerId": "ercsaastest1-preview",
            "name": "Ercenk test 4",
            "saasSubscriptionStatus": "Unsubscribed",
            "beneficiary": {
              "emailId": "ercenk@microsoft.com",
              "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",[...]
    {
      "RequestUri": "https://main.prod.marketplaceapi.azure.com/api/saas/subscriptions/?continuationToken=%5b%7b%22token%22%3anull%2c%22range%22%3a%7b%22min%22%3a%2205C1C9CD673398%22%2c%22max%22%3a%2205C1D9CD673398%22%7d%7d%5d\u0026api-version=2018-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8[...]
[...]
    {
      "RequestUri": "https://main.prod.marketplaceapi.azure.com/api/saas/subscriptions/?continuationToken=%5b%7b%22token%22%3anull%2c%22range%22%3a%7b%22min%22%3a%2205C1E9CD673398%22%2c%22max%22%3a%22FF%22%7d%7d%5d\u0026api-version=2018-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "[...]
