{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/saas/subscriptions/?api-version=2018-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002249ad714e-cfa5-49f5-947b-44d881447bdf\u0022",
        "x-ms-activityid": "7978a085-cd13-4e66-9578-9bd29b9c0079",
        "x-ms-correlationid": "d1ba5b60-75fc-4352-a19f-2a5eff8436dc",
        "x-ms-requestid": "d1ba5b60-75fc-4352-a19f-2a5eff8436dc"
      },
      "ResponseBody": {
        "subscriptions": [
          {
            "id": "4aea5574-281c-7b2f-de26-e0f8369bc2d2",
            "publisherId": "testtestindustryexperiencestest",
            "offerId": "ercsaastest1-preview",
            "name": "Ercenk test 2",
            "saasSubscriptionStatus": "Unsubscribed",
            "beneficiary": {
              "emailId": "ercenk@microsoft.com",
              "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "puid": "10033FFFA7593A0D"
            },
            "purchaser": {
              "emailId": "ercenk@microsoft.com",
              "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "puid": "10033FFFA7593A0D"
            },
            "planId": "basic",
            "term": {
              "startDate": "2019-09-24T00:00:00Z",
              "endDate": "2019-10-23T00:00:00Z",
              "termUnit": "P1M"
            },
            "autoRenew": true,
            "isTest": false,
            "isFreeTrial": false,
            "allowedCustomerOperations": [
              "Delete",
              "Update",
              "Read"
            ],
            "sessionId": "265f0683-2b2c-4563-9e92-60bc630157d8",
            "fulfillmentId": "badf9fce-f41d-4145-ab9d-9d4743eefe40",
            "storeFront": "AzurePortal",
            "sandboxType": "None",
            "created": "2019-09-24T17:39:13.5661812Z",
            "lastModified": "0001-01-01T00:00:00",
            "sessionMode": "None"
          },
          {
            "id": "17adb6d2-4289-581c-2cb7-db784599a7bd",
            "publisherId": "testtestindustryexperiencestest",
            "offerId": "ercsaastest1-preview",
            "name": "Ercenk test 4",
            "saasSubscriptionStatus": "Unsubscribed",
            "beneficiary": {
              "emailId": "ercenk@microsoft.com",
              "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",[...]
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/saas/subscriptions/?continuationToken=%5b%7b%22token%22%3anull%2c%22range%22%3a%7b%22min%22%3a%2205C1C9CD673398%22%2c%22max%22%3a%2205C1D9CD673398%22%7d%7d%5d\u0026api-version=2018-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
   [...]
[...]
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/saas/subscriptions/?continuationToken=%5b%7b%22token%22%3anull%2c%22range%22%3a%7b%22min%22%3a%2205C1E9CD673398%22%2c%22max%22%3a%22FF%22%7d%7d%5d\u0026api-version=2018-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag":[...]
