{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/usageEvents?api-version=2018-08-31\u0026usageStartDate=2024-01-18T06%3A12%3A40.0746760Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b4714cb7-fd04-4dd0-a4e6-002d20236d47",
        "x-ms-correlationid": "bda7fccc-a3b8-4d9b-bc70-7cc49b15f4b1",
        "x-ms-requestid": "bda7fccc-a3b8-4d9b-bc70-7cc49b15f4b1"
      },
      "ResponseBody": "[{\u0022usageDate\u0022:\u00222024-01-19T00:00:00Z\u0022,\u0022usageResourceId\u0022:\u002218c51f6e-4d1b-48da-da96-23c9f3558cfc\u0022,\u0022dimension\u0022:\u0022q2\u0022,\u0022planId\u0022:\u0022milestone\u0022,\u0022planName\u0022:\u0022\u0022,\u0022offerId\u0022:\u0022sb-test-preview\u0022,\u0022offerName\u0022:\u0022\u0022,\u0022offerType\u0022:\u0022SaaS\u0022,\u0022azureSubscriptionId\u0022:\u00226791bfbb-5494-4eca-ae6f-e60a7c01077c\u0022,\u0022reconStatus\u0022:\u0022Submitted\u0022,\u0[...]
