{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/usageEvent?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceId": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
        "quantity": 20.5,
        "dimension": "dim1",
        "effectiveStartTime": "2021-03-15T22:01:04.4810279Z",
        "planId": "silver"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-correlationid": "ad0771f2-a859-4bc8-bc3f-621a2e3ff482",
        "x-ms-requestid": "ad0771f2-a859-4bc8-bc3f-621a2e3ff482"
      },
      "ResponseBody": {
        "usageEventId": "fc453757-b823-4a6f-8064-246484d8bb6c",
        "status": "Accepted",
        "messageTime": "2021-03-15T23:06:04.2795727Z",
        "resourceId": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
        "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.SaaS/resources/Redmond121",
        "quantity": 20.5,
        "dimension": "dim1",
        "effectiveStartTime": "2021-03-15T22:01:04.4810279Z",
        "planId": "silver"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "74765522"
  }
}