{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/usageEvent?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.Solutions/applications/ercmdngd2231",
        "quantity": 20.5,
        "dimension": "dim1",
        "effectiveStartTime": "2021-03-15T22:01:05.0821551Z",
        "planId": "userassigned"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-correlationid": "046493bb-1bfc-4def-80a1-0705e9794cc3",
        "x-ms-requestid": "046493bb-1bfc-4def-80a1-0705e9794cc3"
      },
      "ResponseBody": {
        "usageEventId": "98ff3b93-64d0-46ca-af20-2a3358c58abb",
        "status": "Accepted",
        "messageTime": "2021-03-15T23:06:04.498255Z",
        "resourceId": "54372f22-697c-479e-9b76-d5bbdd6e701a",
        "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.Solutions/applications/ercmdngd2231",
        "quantity": 20.5,
        "dimension": "dim1",
        "effectiveStartTime": "2021-03-15T22:01:05.0821551Z",
        "planId": "userassigned"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "594687105"
  }
}