{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/usageEvent?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceId": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
        "quantity": 20.5,
        "dimension": "dim1",
        "effectiveStartTime": "2021-03-12T17:01:54.5849135Z",
        "planId": "silver"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-correlationid": "11ba362d-69a1-425f-80c4-0e0d50b3b8c2",
        "x-ms-requestid": "11ba362d-69a1-425f-80c4-0e0d50b3b8c2"
      },
      "ResponseBody": {
        "usageEventId": "b6710083-3a96-4cce-b344-36e90f4d6472",
        "status": "Accepted",
        "messageTime": "2021-03-12T18:06:53.7284431Z",
        "resourceId": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
        "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.SaaS/resources/Redmond121",
        "quantity": 20.5,
        "dimension": "dim1",
        "effectiveStartTime": "2021-03-12T17:01:54.5849135Z",
        "planId": "silver"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "74765522"
  }
}