{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/batchUsageEvent?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "request": [
          {
            "resourceId": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
            "quantity": 20.5,
            "dimension": "dim1",
            "effectiveStartTime": "2021-03-08T17:11:26.3602080Z",
            "planId": "silver"
          },
          {
            "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.Solutions/applications/ercmdngd2231",
            "quantity": 20.5,
            "dimension": "dim1",
            "effectiveStartTime": "2021-03-08T17:11:26.3608718Z",
            "planId": "userassigned"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-correlationid": "9d55cbb8-3377-4a9c-8bb8-eaaf5a2d475f",
        "x-ms-requestid": "9d55cbb8-3377-4a9c-8bb8-eaaf5a2d475f"
      },
      "ResponseBody": {
        "result": [
          {
            "usageEventId": "93decb82-96bc-4b7d-a376-907fb14a534c",
            "status": "Accepted",
            "messageTime": "2021-03-08T22:11:28.9790218Z",
            "resourceId": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
            "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.SaaS/resources/Redmond121",
            "quantity": 20.5,
            "dimension": "dim1",
            "effectiveStartTime": "2021-03-08T17:11:26.360208Z",
            "planId": "silver"
          },
          {
            "usageEventId": "54cf11f9-0257-462c-9f10-1c70e334724a",
            "status": "Accepted",
            "messageTime": "2021-03-08T22:11:28.9790218Z",
            "resourceId": "54372f22-697c-479e-9b76-d5bbdd6e701a",
            "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.Solutions/applications/ercmdngd2231",
            "quantity": 20.5,
            "dimension": "dim1",
            "effectiveStartTime": "2021-03-08T17:11:26.3608718Z",
            "planId": "userassigned"
          }
        ],
        "count": 2
      }
    }
  ],
  "Variables": {
    "RandomSeed": "711286632"
  }
}