{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/usageEvent?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.Solutions/applications/ercuserassigned",
        "quantity": 15,
        "dimension": "dim1",
        "effectiveStartTime": "2021-02-19T16:59:27.5109777-08:00",
        "planId": "userassigned"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-correlationid": "ceefdb46-d4bb-4b3a-a339-2a58fed06095",
        "x-ms-requestid": "ceefdb46-d4bb-4b3a-a339-2a58fed06095"
      },
      "ResponseBody": {
        "message": "One or more errors have occurred.",
        "target": "usageEventRequest",
        "details": [
          {
            "message": "The effective time provided is has expired or is in future.",
            "target": "effectiveStartTime",
            "code": "BadArgument"
          }
        ],
        "code": "BadArgument"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1496533948"
  }
}