{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/batchUsageEvent?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "request": [
          {
            "resourceId": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
            "quantity": 20.5,
            "dimension": "dim1",
            "effectiveStartTime": "2021-03-12T13:06:52.8968294Z",
            "planId": "silver"
          },
          {
            "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.Solutions/applications/ercmdngd2231",
            "quantity": 20.5,
            "dimension": "dim1",
            "effectiveStartTime": "2021-03-12T13:06:52.8971358Z",
            "planId": "userassigned"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-correlationid": "02ef443a-251c-495a-86d7-568dd960dbd3",
        "x-ms-requestid": "02ef443a-251c-495a-86d7-568dd960dbd3"
      },
      "ResponseBody": {
        "result": [
          {
            "usageEventId": "cd1d65b7-bb31-482d-81dc-6f732cdf540a",
            "status": "Accepted",
            "messageTime": "2021-03-12T18:06:51.9941148Z",
            "resourceId": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
            "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.SaaS/resources/Redmond121",
            "quantity": 20.5,
            "dimension": "dim1",
            "effectiveStartTime": "2021-03-12T13:06:52.8968294Z",
            "planId": "silver"
          },
          {
            "usageEventId": "6058edbc-f9b8-4480-a5e6-7197cc7e1d62",
            "status": "Accepted",
            "messageTime": "2021-03-12T18:06:51.9941148Z",
            "resourceId": "54372f22-697c-479e-9b76-d5bbdd6e701a",
            "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.Solutions/applications/ercmdngd2231",
            "quantity": 20.5,
            "dimension": "dim1",
            "effectiveStartTime": "2021-03-12T13:06:52.8971358Z",
            "planId": "userassigned"
          }
        ],
        "count": 2
      }
    }
  ],
  "Variables": {
    "RandomSeed": "711286632"
  }
}