{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/batchUsageEvent?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "request": [
          {
            "resourceId": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
            "quantity": 20.5,
            "dimension": "dim1",
            "effectiveStartTime": "2021-03-15T18:06:00.4578027Z",
            "planId": "silver"
          },
          {
            "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.Solutions/applications/ercmdngd2231",
            "quantity": 20.5,
            "dimension": "dim1",
            "effectiveStartTime": "2021-03-15T18:06:00.4580942Z",
            "planId": "userassigned"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-correlationid": "23d89956-0021-4ba1-81ea-9f583e736191",
        "x-ms-requestid": "23d89956-0021-4ba1-81ea-9f583e736191"
      },
      "ResponseBody": {
        "result": [
          {
            "usageEventId": "ecedc6dd-c396-4c33-966d-09562588241d",
            "status": "Accepted",
            "messageTime": "2021-03-15T23:06:00.002737Z",
            "resourceId": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
            "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.SaaS/resources/Redmond121",
            "quantity": 20.5,
            "dimension": "dim1",
            "effectiveStartTime": "2021-03-15T18:06:00.4578027Z",
            "planId": "silver"
          },
          {
            "usageEventId": "5a72e372-91cc-4a57-97da-485db1cb76c8",
            "status": "Accepted",
            "messageTime": "2021-03-15T23:06:00.002737Z",
            "resourceId": "54372f22-697c-479e-9b76-d5bbdd6e701a",
            "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.Solutions/applications/ercmdngd2231",
            "quantity": 20.5,
            "dimension": "dim1",
            "effectiveStartTime": "2021-03-15T18:06:00.4580942Z",
            "planId": "userassigned"
          }
        ],
        "count": 2
      }
    },
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/batchUsageEvent?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "request": [
          {
            "resourceId": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
            "quantity": 20.5,
            "dimension": "dim1",
            "effectiveStartTime": "2021-03-15T18:06:00.4578027Z",
            "planId": "silver"
          },
          {
            "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.Solutions/applications/ercmdngd2231",
            "quantity": 20.5,
            "dimension": "dim1",
            "effectiveStartTime": "2021-03-15T18:06:00.4580942Z",
            "planId": "userassigned"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-correlationid": "d10abd27-9964-4aaf-a619-e949ec534510",
        "x-ms-requestid": "d10abd27-9964-4aaf-a619-e949ec534510"
      },
      "ResponseBody": {
        "result": [
          {
            "status": "Duplicate",
            "messageTime": "2021-03-15T23:06:03.0724556Z",
            "error": {
              "additionalInfo": {
                "acceptedMessage": {
                  "usageEventId": "ecedc6dd-c396-4c33-966d-09562588241d",
                  "status": "Duplicate",
                  "messageTime": "2021-03-15T23:06:00.002737Z",
                  "resourceId": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
                  "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.SaaS/resources/Redmond121",
                  "quantity": 20.5,
                  "dimension": "dim1",
                  "effectiveStartTime": "2021-03-15T18:06:00.4578027Z",
                  "planId": "silver"
                }
              },
              "message": "This usage event already exist.",
              "code": "Conflict"
            },
            "resourceId": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
            "quantity": 20.5,
            "dimension": "dim1",
            "effectiveStartTime": "2021-03-15T18:06:00.4578027Z",
            "planId": "silver"
          },
          {
            "status": "Duplicate",
            "messageTime": "2021-03-15T23:06:03.6839358Z",
            "error": {
              "additionalInfo": {
                "acceptedMessage": {
                  "usageEventId": [...]
