{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/usageEvent?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceId": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
        "quantity": 20.5,
        "dimension": "dim1",
        "effectiveStartTime": "2021-03-08T12:53:03.3453718-08:00",
        "planId": "silver"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-correlationid": "4d8ad9d4-bdab-47e2-addb-9d5b0eaae054",
        "x-ms-requestid": "4d8ad9d4-bdab-47e2-addb-9d5b0eaae054"
      },
      "ResponseBody": {
        "usageEventId": "faf72cfc-5771-40f5-a5a2-6508d7bd46cf",
        "status": "Accepted",
        "messageTime": "2021-03-08T21:58:03.9864909Z",
        "resourceId": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
        "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.SaaS/resources/Redmond121",
        "quantity": 20.5,
        "dimension": "dim1",
        "effectiveStartTime": "2021-03-08T20:53:03.3453718\u002B00:00",
        "planId": "silver"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "74765522"
  }
}