{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/usageEvent?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.Solutions/applications/ercmdngd2231",
        "quantity": 20.5,
        "dimension": "dim1",
        "effectiveStartTime": "2021-03-12T17:01:55.0912305Z",
        "planId": "userassigned"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-correlationid": "6efedfdc-6f31-4f80-9fbe-b99778555114",
        "x-ms-requestid": "6efedfdc-6f31-4f80-9fbe-b99778555114"
      },
      "ResponseBody": {
        "usageEventId": "8af46aa3-c9a9-4270-b2f9-ae1f05bfb95e",
        "status": "Accepted",
        "messageTime": "2021-03-12T18:06:54.1971938Z",
        "resourceId": "54372f22-697c-479e-9b76-d5bbdd6e701a",
        "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.Solutions/applications/ercmdngd2231",
        "quantity": 20.5,
        "dimension": "dim1",
        "effectiveStartTime": "2021-03-12T17:01:55.0912305Z",
        "planId": "userassigned"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "594687105"
  }
}