{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/usageEvent?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.Solutions/applications/ercmdngd2231",
        "quantity": 20.5,
        "dimension": "dim1",
        "effectiveStartTime": "2021-03-08T12:53:04.1465802-08:00",
        "planId": "userassigned"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-correlationid": "5f5623c8-c359-4549-a262-f23e4ae3ff40",
        "x-ms-requestid": "5f5623c8-c359-4549-a262-f23e4ae3ff40"
      },
      "ResponseBody": {
        "usageEventId": "ac16ac85-94cf-4dd5-8611-7ea6510f744a",
        "status": "Accepted",
        "messageTime": "2021-03-08T21:58:04.4291621Z",
        "resourceId": "54372f22-697c-479e-9b76-d5bbdd6e701a",
        "resourceUri": "/subscriptions/bf7adf12-c3a8-426c-9976-29f145eba70f/resourceGroups/ercmngd/providers/Microsoft.Solutions/applications/ercmdngd2231",
        "quantity": 20.5,
        "dimension": "dim1",
        "effectiveStartTime": "2021-03-08T20:53:04.1465802\u002B00:00",
        "planId": "userassigned"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "594687105"
  }
}