{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/saas/subscriptions/resolve?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-marketplace-token": "IPZARpJbiIC3rDAESnmm2Zg1GJdHYHshWjLOvr/g\u002BASyLao9rPVrQ\u002Bmu2Li6uOBdtf7v/vXH6v\u002BFdBT8egYh0Pmrv/kLoIbf/MuINnMLi\u002B4IW2UFhR2qsrxRbEBfxYthSjKIrk28TgeZp19rDcNV1GqSXqR49Pma9i9EkPj6E8OTd71WWrJHG/4j\u002BGOtm3Q1sFoBIzslczlC\u002BBX89bcH8/a3zbir8fy\u002BrDl576YKdE8="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-activityid": "2a674cb3-1459-44e0-9d0f-135fb819a1c5",
        "x-ms-correlationid": "094609e4-30c7-4b12-9f54-2bbc02e41eed",
        "x-ms-requestid": "094609e4-30c7-4b12-9f54-2bbc02e41eed"
      },
      "ResponseBody": {
        "id": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
        "subscriptionName": "Redmond121",
        "offerId": "contoso_saas_offer-preview",
        "planId": "silver",
        "subscription": {
          "id": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
          "publisherId": "testtestindustryexperiencestest",
          "offerId": "contoso_saas_offer-preview",
          "name": "Redmond121",
          "saasSubscriptionStatus": "Subscribed",
          "beneficiary": {
            "emailId": "ercenk@microsoft.com",
            "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "puid": "10033FFFA7593A0D"
          },
          "purchaser": {
            "emailId": "ercenk@microsoft.com",
            "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "puid": "10033FFFA7593A0D"
          },
          "planId": "silver",
          "term": {
            "startDate": "2021-02-21T00:00:00Z",
            "endDate": "2021-03-20T00:00:00Z",
            "termUnit": "P1M"
          },
          "autoRenew": true,
          "isTest": false,
          "isFreeTrial": false,
          "allowedCustomerOperations": [
            "Delete",
            "Update",
            "Read"
          ],
          "sandboxType": "None",
          "created": "2021-01-21T18:47:25.2241546Z",
          "lastModified": "0001-01-01T00:00:00",
          "sessionMode": "None"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "487910263"
  }
}