{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/saas/subscriptions/resolve?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-marketplace-token": "gxYkao5D3lHoEFVOKjY2sxLwEhi/4eR0IwbFlz1dmvpB/bWJuZ2uzYlc39RD5FR1LVWyFdE/lGZ\u002BXgnJG04iupIg6ttluDMT5CwsnGtWe4OeH02xSy5gyQUSN333Dl11l5Zcap83RxtatjN3xAH8M9nM\u002BYj9YSkT08/WYKLmtj2X0K\u002BLGA53grc5YKJ7xKO6KHy2Ah8zO3NMPTie0geH4ScabaMulK4\u002BOWEeAMned6s="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-activityid": "e1463651-265a-4721-8fda-afae4b3f0518",
        "x-ms-correlationid": "170e0bb9-3cfc-496a-9b0c-d5d3133bdc74",
        "x-ms-requestid": "170e0bb9-3cfc-496a-9b0c-d5d3133bdc74"
      },
      "ResponseBody": {
        "id": "7b47d162-ffab-6592-d13c-5b658188eb84",
        "subscriptionName": "Redmon3-1-3",
        "offerId": "contoso_saas_offer-preview",
        "planId": "platinum",
        "subscription": {
          "id": "7b47d162-ffab-6592-d13c-5b658188eb84",
          "publisherId": "testtestindustryexperiencestest",
          "offerId": "contoso_saas_offer-preview",
          "name": "Redmon3-1-3",
          "saasSubscriptionStatus": "Subscribed",
          "beneficiary": {
            "emailId": "ercenk@microsoft.com",
            "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "puid": "10033FFFA7593A0D",
            "iss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "idp": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "clienT-IP": "40.78.62.97:32320"
          },
          "purchaser": {
            "emailId": "ercenk@microsoft.com",
            "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "puid": "10033FFFA7593A0D",
            "iss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "idp": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "clienT-IP": "40.78.62.97:32320"
          },
          "planId": "platinum",
          "term": {
            "startDate": "2021-03-02T00:00:00Z",
            "endDate": "2021-04-01T00:00:00Z",
            "termUnit": "P1M"
          },
          "autoRenew": true,
          "isTest": false,
          "isFreeTrial": true,
          "allowedCustomerOperations": [
            "Delete",
            "Update",
            "Read"
          ],
          "sessionId": "020c55f3-2416-45df-befa-5e8bb208e89c",
          "fulfillmentId": "24695e9e-b7d1-4b4d-83dd-24d7d9b499a0",
          "storeFront": "AzurePortal",
          "sandboxType": "None",
          "created": "2021-03-02T04:04:38.758423Z",
          "lastModified": "2021-03-02T20:44:36.4053491Z",
          "sessionMode": "None"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "910756722"
  }
}