{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/saas/subscriptions/resolve?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-marketplace-token": "ndET\u002BtcimdfcX6uxfkRI\u002BslWXz8TA46S6clVUkvm6Spbhn\u002B7PbgVjOI/YYFuLwnVW/4XiJ2NMDkKAVCIgU6a9vGaYMUavl1\u002BkMNxCt83l8ZNv6uAD0JOThJx2JgBInb6IQ3dhsjjLECSr6TkPDR/PbZFvPWXzjxabO9kt/z4st0Av0MvlJHgahfisyNQAmIyqrlTknHRDLZanYnyTQ99AN/BCg0gKLpt7yVhyPJ6hHw="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-activityid": "fc635663-3daf-49fa-b079-7e9958becfbc",
        "x-ms-correlationid": "577f31d6-0432-4579-9b00-bec41ad43cd0",
        "x-ms-requestid": "577f31d6-0432-4579-9b00-bec41ad43cd0"
      },
      "ResponseBody": {
        "id": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
        "subscriptionName": "Redmond121",
        "offerId": "contoso_saas_offer-preview",
        "planId": "platinum",
        "subscription": {
          "id": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
          "publisherId": "testtestindustryexperiencestest",
          "offerId": "contoso_saas_offer-preview",
          "name": "Redmond121",
          "saasSubscriptionStatus": "Subscribed",
          "beneficiary": {
            "emailId": "ercenk@microsoft.com",
            "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "puid": "10033FFFA7593A0D"
          },
          "purchaser": {
            "emailId": "ercenk@microsoft.com",
            "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "puid": "10033FFFA7593A0D"
          },
          "planId": "platinum",
          "term": {
            "startDate": "2021-02-21T00:00:00Z",
            "endDate": "2021-03-20T00:00:00Z",
            "termUnit": "P1M"
          },
          "autoRenew": true,
          "isTest": false,
          "isFreeTrial": false,
          "allowedCustomerOperations": [
            "Delete",
            "Update",
            "Read"
          ],
          "sandboxType": "None",
          "created": "2021-01-21T18:47:25.2241546Z",
          "lastModified": "0001-01-01T00:00:00",
          "sessionMode": "None"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "487910263"
  }
}