{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/saas/subscriptions/resolve?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-marketplace-token": "9j3fH3/V5rznrU9e2OC4aqQ\u002BNRfWfR8ICNPNgMvlHsk9CKYJOM6Zsx\u002BvxWxr\u002B0DWCmSdX6I1OfD0UrM3D6lfzwdu9J3CLlTenZkU48ZDsOirCOFO30VT/jffXcrtm5nfJYc6UnCUWZPElxb2XiU1E7rBrh6XpX\u002BIzo0r9Fc40U2gIoOi8P04VKeGxPh3RqDyPxNk2xPO\u002BBV07rYC3Fpsxq\u002BI0R9CKLUgrhrmcvGf76hjT1rFAYPaGGZsvFS4lL1M"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-activityid": "de98ed22-36f1-4fff-8633-123626c4e34d",
        "x-ms-correlationid": "8d30e60c-e708-4977-aa80-82af204f8318",
        "x-ms-requestid": "8d30e60c-e708-4977-aa80-82af204f8318"
      },
      "ResponseBody": {
        "id": "15a80a8e-48ae-18a3-8e96-319de9cd1abb",
        "subscriptionName": "Redmond 11-16-1",
        "offerId": "contoso_saas_offer-preview",
        "planId": "silver",
        "subscription": {
          "id": "15a80a8e-48ae-18a3-8e96-319de9cd1abb",
          "publisherId": "testtestindustryexperiencestest",
          "offerId": "contoso_saas_offer-preview",
          "name": "Redmond 11-16-1",
          "saasSubscriptionStatus": "PendingFulfillmentStart",
          "beneficiary": {
            "emailId": "ercenk@microsoft.com",
            "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "puid": "10033FFFA7593A0D",
            "iss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "idp": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/"
          },
          "purchaser": {
            "emailId": "ercenk@microsoft.com",
            "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "puid": "10033FFFA7593A0D",
            "iss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "idp": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/"
          },
          "planId": "silver",
          "term": {
            "termUnit": "P1M"
          },
          "autoRenew": true,
          "isTest": false,
          "isFreeTrial": false,
          "allowedCustomerOperations": [
            "Delete",
            "Update",
            "Read"
          ],
          "sessionId": "500d56a4-c6d9-4d91-ab8a-e67df78b68a7",
          "fulfillmentId": "6f70b44b-2ebf-4e79-84d0-ed95279acbbf",
          "storeFront": "AzurePortal",
          "sandboxType": "None",
          "created": "2020-11-16T17:58:58.743227Z",
          "lastModified": "2020-12-17T09:50:47.853735Z",
          "sessionMode": "None"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "166903005"
  }
}