{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/saas/subscriptions/resolve?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-marketplace-token": "2FnFznEDcwKdPBXWJ/3Lm\u002B3pZHkfYAgDLE8g7Msv2kQ1Z5P9x8Ddtq4ST4VV8PauQjkTaUpH74IclbSNexpiD9jdickD4U2waJ0KatdID8UdS6/xOvIlu5H7uawLWQUnzLCvNa0BNBR2VOGStPaC6PUG0RI/tqfwooiCH4OgYc5zRNC9qZAB3BBf4L9JpFGJRa6H2cnEcdwi/ZRN89u87w=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "863071a7-1c3e-4ca3-9078-52410ee7c5cc",
        "x-ms-activityid": "31bf9d6c-a117-4537-b820-fbf3d5c288fc",
        "x-ms-correlationid": "d7891dd7-bc3c-49fc-b847-9d10b0e65278",
        "x-ms-requestid": "d7891dd7-bc3c-49fc-b847-9d10b0e65278"
      },
      "ResponseBody": {
        "id": "b8d6908b-0058-413a-cd62-b6761cf31997",
        "subscriptionName": "sb-2023134",
        "offerId": "sb-test-preview",
        "planId": "test",
        "subscription": {
          "id": "b8d6908b-0058-413a-cd62-b6761cf31997",
          "publisherId": "testtestindustryexperiencestest",
          "offerId": "sb-test-preview",
          "name": "sb-2023134",
          "saasSubscriptionStatus": "Subscribed",
          "beneficiary": {
            "emailId": "sbomma@microsoft.com",
            "objectId": "20688948-5bcb-4b80-bc9d-4cb83b4e32fd",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "puid": "10032000748AD514"
          },
          "purchaser": {
            "emailId": "sbomma@microsoft.com",
            "objectId": "20688948-5bcb-4b80-bc9d-4cb83b4e32fd",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "puid": "10032000748AD514"
          },
          "planId": "test",
          "term": {
            "startDate": "2024-01-14T00:00:00Z",
            "endDate": "2024-02-13T00:00:00Z",
            "termUnit": "P1M"
          },
          "autoRenew": true,
          "isTest": false,
          "isFreeTrial": false,
          "allowedCustomerOperations": [
            "Delete",
            "Read",
            "Update"
          ],
          "sandboxType": "None",
          "created": "2023-04-14T00:07:14.962328Z",
          "lastModified": "0001-01-01T00:00:00",
          "sessionMode": "None"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "910756722"
  }
}