{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/saas/subscriptions/resolve?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-marketplace-token": "RUA01U9XFK7hkUoCGo0yOCEnXyJHu3cP9VihTQREWTyUkDySoSiMb5j3t3PHXPZUIPN61g1IRQESVIfVRimE\u002BXfdKYiMjg9El3nP0AFhYxuuRMX4jhGeaJHP1JAdz9SP0cti/o6z3RgJDzWTN0eXtLgzbCoRUgdWa64/iHGIFKN30RA9njDxuJkuUp1Ml3wFsQKYcq4HjfD5lUcYOw6amefQ4RzHk9L\u002Bkrn83OrHfwo="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-activityid": "a8e63186-50f7-408a-a323-5ce4ca759c79",
        "x-ms-correlationid": "cd0de82b-8e90-41ef-958b-763f16a90415",
        "x-ms-requestid": "cd0de82b-8e90-41ef-958b-763f16a90415"
      },
      "ResponseBody": {
        "id": "0ee05fcf-0dcb-f015-d459-58b630f59525",
        "subscriptionName": "redmond120",
        "offerId": "contoso_saas_offer-preview",
        "planId": "silver",
        "subscription": {
          "id": "0ee05fcf-0dcb-f015-d459-58b630f59525",
          "publisherId": "testtestindustryexperiencestest",
          "offerId": "contoso_saas_offer-preview",
          "name": "redmond120",
          "saasSubscriptionStatus": "PendingFulfillmentStart",
          "beneficiary": {
            "emailId": "ercenk@microsoft.com",
            "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "puid": "10033FFFA7593A0D",
            "iss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "idp": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "clienT-IP": "40.80.156.103:25728"
          },
          "purchaser": {
            "emailId": "ercenk@microsoft.com",
            "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "puid": "10033FFFA7593A0D",
            "iss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "idp": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "clienT-IP": "40.80.156.103:25728"
          },
          "planId": "silver",
          "term": {
            "termUnit": "P1M"
          },
          "autoRenew": true,
          "isTest": false,
          "isFreeTrial": false,
          "allowedCustomerOperations": [
            "Delete",
            "Update",
            "Read"
          ],
          "sessionId": "96ff6b82-c671-4122-b31a-e3033d2e5ba0",
          "fulfillmentId": "8441cb76-fe06-434f-ad2a-cab6bff9ccc4",
          "storeFront": "ARMApiCall",
          "sandboxType": "None",
          "created": "2021-01-20T18:29:27.3784172Z",
          "lastModified": "2021-01-20T18:30:26.4474061Z",
          "sessionMode": "None"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "910756722"
  }
}