{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/saas/subscriptions/resolve?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-marketplace-token": "keS9yHatHjwwhsFx\u002BqRXxKI9m2R8YyXGLA9GEvFbJbRWJGe6h6ClisIDoH1lquD\u002B9XLjDXdHZ5aPbS/Rp5b5OujPhdYycjt\u002B2RDhXQZ4oqLyflCGAno3\u002BJGUUZnTIi5rn63gQ\u002BuqHq9DgUSiAj5H9nsp03p9BcqxMrsctDeYbTfNau85EWD11Owlh4/RgNJ2l07uxxGv6D0yfnSh82sChlgXOFfz2ETS/ewZNevfxgw="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-activityid": "4e5bc0bb-2456-4980-918c-4339e53d6b79",
        "x-ms-correlationid": "d728e041-f67a-42d5-9506-5e98a9753aa9",
        "x-ms-requestid": "d728e041-f67a-42d5-9506-5e98a9753aa9"
      },
      "ResponseBody": {
        "id": "0ee05fcf-0dcb-f015-d459-58b630f59525",
        "subscriptionName": "redmond120",
        "offerId": "contoso_saas_offer-preview",
        "planId": "silver",
        "subscription": {
          "id": "0ee05fcf-0dcb-f015-d459-58b630f59525",
          "publisherId": "testtestindustryexperiencestest",
          "offerId": "contoso_saas_offer-preview",
          "name": "redmond120",
          "saasSubscriptionStatus": "PendingFulfillmentStart",
          "beneficiary": {
            "emailId": "ercenk@microsoft.com",
            "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "puid": "10033FFFA7593A0D",
            "iss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "idp": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "clienT-IP": "40.80.156.103:25728"
          },
          "purchaser": {
            "emailId": "ercenk@microsoft.com",
            "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "puid": "10033FFFA7593A0D",
            "iss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "idp": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "clienT-IP": "40.80.156.103:25728"
          },
          "planId": "silver",
          "term": {
            "termUnit": "P1M"
          },
          "autoRenew": true,
          "isTest": false,
          "isFreeTrial": false,
          "allowedCustomerOperations": [
            "Delete",
            "Update",
            "Read"
          ],
          "sessionId": "96ff6b82-c671-4122-b31a-e3033d2e5ba0",
          "fulfillmentId": "8441cb76-fe06-434f-ad2a-cab6bff9ccc4",
          "storeFront": "ARMApiCall",
          "sandboxType": "None",
          "created": "2021-01-20T18:29:27.3784172Z",
          "lastModified": "2021-01-20T18:30:26.4474061Z",
          "sessionMode": "None"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "166903005"
  }
}
}