{
  "Entries": [
    {
      "RequestUri": "https://marketplaceapi.microsoft.com/api/saas/subscriptions/resolve?api-version=2018-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-marketplace-token": "9EVFKOQwhUCgLB0OKLRdav6AoOXHDKqTUyYgGlJpDy92RdX8XGA\u002BEbv8XjBcKfcduQW0ggoG2xKszgQozWkU1yUouS\u002B4xsy7xaCSiJRgg6XMkXI9RJV\u002BpdD1/NbSGQIS7gqrxNziYDApXmSRvcd7EuTfdZK3vnsgcWf19g1qpVp\u002BooAVyCPb8sPvmSuOifJxdvHZu\u002B99YvQURPKnnBchnJK2VQqxbNJZ1e3ZyhYxT28="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-activityid": "94b5dd49-d367-4d39-862f-694236957f81",
        "x-ms-correlationid": "b0baff30-027a-46f7-af5f-0eefbb2d4114",
        "x-ms-requestid": "b0baff30-027a-46f7-af5f-0eefbb2d4114"
      },
      "ResponseBody": {
        "id": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
        "subscriptionName": "Redmond121",
        "offerId": "contoso_saas_offer-preview",
        "planId": "silver",
        "subscription": {
          "id": "da8dc4ae-4cdf-ed6b-e12e-9d0219306842",
          "publisherId": "testtestindustryexperiencestest",
          "offerId": "contoso_saas_offer-preview",
          "name": "Redmond121",
          "saasSubscriptionStatus": "Subscribed",
          "beneficiary": {
            "emailId": "ercenk@microsoft.com",
            "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "puid": "10033FFFA7593A0D",
            "iss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "idp": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "clienT-IP": "40.80.156.103:6720"
          },
          "purchaser": {
            "emailId": "ercenk@microsoft.com",
            "objectId": "df30a7e0-98dc-41a6-afa6-d1ddea551529",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "puid": "10033FFFA7593A0D",
            "iss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "idp": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "clienT-IP": "40.80.156.103:6720"
          },
          "planId": "silver",
          "term": {
            "startDate": "2021-01-21T00:00:00Z",
            "endDate": "2021-02-20T00:00:00Z",
            "termUnit": "P1M"
          },
          "autoRenew": true,
          "isTest": false,
          "isFreeTrial": false,
          "allowedCustomerOperations": [
            "Delete",
            "Update",
            "Read"
          ],
          "sessionId": "f4919bd3-7eb4-47a4-990b-90c750c3fce1",
          "fulfillmentId": "33f11f78-64d2-4ea2-a7ec-c4bc8581542b",
          "storeFront": "ARMApiCall",
          "sandboxType": "None",
          "created": "2021-01-21T18:47:25.2241546Z",
          "lastModified": "2021-01-21T21:58:31.1651311Z",
          "sessionMode": "None"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "487910263"
  }
}